<ion-header>

  <ion-navbar>
    <ion-title>プラン一覧</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let planInfo of planInfoList index as i">
    <ion-card (click)="toPlanDetaiPage(planInfo, i)">
      <ion-item>
        {{planInfo.name}}

        <!-- <button ion-button color="danger" clear icon-only item-end (click)="showPrompt(planInfo)">
          <ion-icon name="trash"></ion-icon>
        </button> -->
      </ion-item>

      <ion-row>
        <ion-col *ngFor="let photo of photoInfoList[i]" col-3>
          <img src="{{ photo.url }}">
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
