<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button right (click)="uploadHandler()" Round>
        投稿
      </button>
    </ion-buttons>

    <ion-title>写真投稿</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div (click)="getImage()">
    <img *ngIf="imageURL" src="{{imageURL}}">
  </div>

  <ion-list>
    <ion-item>
      <ion-label floating>場所</ion-label>
      <ion-input type="string" [(ngModel)]="item.place" (input)=getGeoCode()></ion-input>
    </ion-item>

    <ion-item *ngFor="let feature of features" (click)=getLatLng(feature)>
      {{ feature.name }}
    </ion-item>

    <ion-item>
      <ion-label floating>コメント</ion-label>
      <ion-textarea type="text" [(ngModel)]="item.comment"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>カテゴリー</ion-label>
      <ion-select [(ngModel)]="item.category">
          <ion-option value="風景">風景</ion-option>
          <ion-option value="食事">食事</ion-option>
          <ion-option value="宿泊">宿泊</ion-option>
          <ion-option value="建物">建物</ion-option>
          <ion-option value="行事">行事</ion-option>
          <ion-option value="その他">その他</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
