<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" tabTitle="ホーム" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="マイページ" tabIcon="contact" ></ion-tab>
  <ion-tab tabTitle="プラン" tabIcon="pricetags" (ionSelect)=toPostTravelPlan()></ion-tab>
  <ion-tab tabTitle="投稿" tabIcon="add" (ionSelect)="switchPostPage()"></ion-tab>
</ion-tabs>
