page-tabs{

    $toolbar-md-background:color($colors, primary);

    $tabs-md-background:#f8f8f8;

    ion-icon{
        &[class*="custom-icon-"]{
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            width: 2em;
            height: 2em;
        }
        &[class*="custom-icon-camera"]{
            mask-image: url(../../assets/imgs/tabs/camera.svg);
        }
        &[class*="custom-icon-bus"]{
            mask-image: url(../../assets/imgs/tabs/bus.svg);
        }
        &[class*="custom-icon-hata"]{
            mask-image: url(../../assets/imgs/tabs/hata.svg)
        }
        &[class*="custom-icon-spot"]{
            mask-image: url(../../assets/imgs/tabs/spot.svg);
        }
    }
}