<ion-header>

  <ion-navbar>
    <ion-title>ユーザ登録</ion-title>

    <ion-buttons right>
      <button ion-button (click)="signUpUser()" [disabled]="!userInfo.email || !userInfo.password || !userInfo.name || !userInfo.ID || !userInfo.comment || !iconImageURL">
        登録
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="cropImage()">
    アイコン画像の選択
  </button>
  <img src="{{iconImageURL}}">

  <ion-list>
    <ion-item>
      <ion-label floating> メールアドレス </ion-label>
      <ion-input type="email" [(ngModel)]="userInfo.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating> パスワード </ion-label>
      <ion-input type="password" [(ngModel)]="userInfo.password" placeholder="6文字以上入力してください。">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>ユーザ名</ion-label>
      <ion-input type="string" [(ngModel)]="userInfo.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>ユーザID</ion-label>
      <ion-input type="string" [(ngModel)]="userInfo.ID"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>コメント</ion-label>
      <ion-textarea type="string" [(ngModel)]="userInfo.comment"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
