page-user-info {

    .user-prof{
        .user-icon{
            text-align:center;
            img.user-img{
                border-radius: 50%;
                width: 35vw;
                height: auto;
            }
        }

        .user-name{
            display: flex;
        }
    }


    // 関連写真・プランのボス
    .relation-container {
        display: flex;
        align-items: center;
        // 関連写真
        .photo-container {
            img {
                width: 25vw !important;
                height: auto;
            }
        }
    }

    .my-plan{
        height: 5vh;
        width: auto;
    }
}
