<ion-header>
  <ion-navbar>
    <ion-title>マイページ</ion-title>
    <ion-buttons right>
      <button ion-button *ngIf="pageNum == this.LOGIN" [navPush]="userSignUpPage">
        登録ページへ
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button right *ngIf="pageNum == this.MYPAGE" (click)="logOut()">
        サインアウト
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- ログイン画面 -->
  <ion-grid *ngIf="pageNum == this.LOGIN">
    <ion-list>
      <ion-item>
        <ion-label floating> Eメール </ion-label>
        <ion-input type="email" [(ngModel)]="loginEmail"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating> パスワード </ion-label>
        <ion-input type="password" [(ngModel)]="loginPass"></ion-input>
      </ion-item>
    </ion-list>

    <!-- ログイン -->
    <div padding>
      <button ion-button color="primary" round (click)="login(loginEmail,loginPass)" [disabled]="!loginEmail || !loginPass">
        ログイン
      </button>
    </div>
  </ion-grid>


  <!-- マイページ -->
  <ion-grid *ngIf="pageNum == this.MYPAGE">

    <ion-item class="user-prof">
      <div class="user-icon">
        <img class="user-img" src="{{this.myUserInfo.iconImage}}">
      </div>
      <div class="user-name">
        <h2>{{this.myUserInfo.name}} ID:{{myUserInfo.ID}}</h2>
        <button ion-button round outline 
        (click)="toUserEditPage(this.myUserInfo)">
          ユーザ情報の編集
        </button>
      </div>
      <p>{{this.myUserInfo.comment}}</p>
    </ion-item>

    <!-- 自分の写真のボス -->
    <ion-item>
      <h2>自分の写真</h2>
      <div class="relation-container">
        <div class="photo-container" *ngFor="let myPhoto of myPhotoInfoList">
          <img src={{myPhoto.url}} (click)="toPhotoDetailPage(myPhoto)">
        </div>
      </div>
    </ion-item>

    <!-- 自分のプランのボス -->
    <ion-item>
      <h2>自分のプラン</h2>
      <ion-row>
        <ion-col *ngFor="let myPlan of myPlanInfoList index as i" col-5>
          <ion-card class="my-plan"
          (click)="toPlanDetaiPage(myPlan,i)">
            {{myPlan.name}}
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-grid>
</ion-content>
