<ion-header>
  <ion-navbar>
    <ion-title>ジモ☆タビ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="card-background-page">
    <button ion-button color="danger" (click)=toRecommendPhotoPage()>
      <div class="card-title">おすすめ写真</div>
    </button>

    <button ion-button color="secondary" (click)=toRecommendPlanPage()>
      <div class="card-title">おすすめ旅行プラン</div>
    </button>

    <button ion-button color="primary" (click)=toFavoritePhotoPage()>
      <div class="card-title">お気に入り写真</div>
    </button>

    <button ion-button color="dark" (click)=toFavoritesPlanPage()>
      <div class="card-title">お気に入り旅行プラン</div>
    </button>
  </div>

</ion-content>
