page-home {

    .card-background-page{

        button{
            width: 100%;
            height: 25%;
            text-align: center;
            margin-bottom: 1.2em;
        }

        .card-title{
            padding: 1.0em 1.0em;
            font-size: 2.0em;
            font-weight: bold;
        }
    }
}
