<ion-header>
  <ion-navbar hideBackButton="{{isOpenGallery}}">
    <ion-buttons start>
      <button ion-button icon-only *ngIf="isOpenGallery" (click)="isOpenGallery=false">
        <ion-icon name="arrow-back"></ion-icon>
        Cancel
      </button>
    </ion-buttons>
    <ion-title>プラン詳細</ion-title>
    <ion-buttons end>
        <button ion-button (click)="sendEmail(planInfo.userEmail,'プラン')">
            ガイド依頼
          </button>
      <button ion-button icon-only (click)="selectTravelPlan()">
        <ion-icon name="checkbox" *ngIf="isPlanTripping"></ion-icon>
        <ion-icon name=checkbox-outline *ngIf="!isPlanTripping"></ion-icon>
      </button>
      <button ion-button icon-only (click)="presentToast()">
        <ion-icon name="star" *ngIf="isPlanSaved"></ion-icon>
        <ion-icon name=star-outline *ngIf="!isPlanSaved"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
    <div id="my-map" [hidden]="isOpenGallery"></div>

  <ion-list *ngIf="!isOpenGallery">
    <ion-item>
      <ion-label color="primary" stacked>Plan Name:</ion-label>
      <ion-input [(ngModel)]="planInfo.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Comment:</ion-label>
      <ion-input [(ngModel)]="planInfo.comment"></ion-input>
    </ion-item>
   

    <ion-item-group reorder="true" (ionItemReorder)="reorderData($event)">
      <ion-item-sliding *ngFor="let photo of photoInfoList index as i">
        <ion-item>
          <img src="{{photo.url}}" width="64px" height="64px">
          <h3>{{ photo.place }}</h3>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="deleteData(i)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  

  <div text-center *ngIf="!isOpenGallery">
    <button ion-button round (click)=uploadPlan()>
      投稿する
    </button>
  </div>

  <ion-fab right bottom *ngIf="!isOpenGallery">
    <button ion-fab color="danger" (click)="openGallery()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-toolbar no-border-top *ngIf="isOpenGallery">
    <ion-segment [(ngModel)]="searchCategory" (ionChange)="filterPhotoInfoList()">
      <ion-segment-button value="すべて">
        すべて
      </ion-segment-button>
      <ion-segment-button value="風景">
        風景
      </ion-segment-button>
      <ion-segment-button value="食事">
        食事
      </ion-segment-button>
      <ion-segment-button value="宿泊">
        宿泊
      </ion-segment-button>
      <ion-segment-button value="建物">
        建物
      </ion-segment-button>
      <ion-segment-button value="行事">
        行事
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-grid *ngIf="isOpenGallery">
    <ion-row *ngFor="let photos of photoGallery">
      <ion-col *ngFor="let photo of photos">
        <img src={{photo.url}} (click)=selectPhoto(photo)>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
