<ion-header>
  <ion-navbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPhotoInfoList()" *ngIf="!isMapping"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="isMapping" (click)="isMapping=false">
        <ion-icon name="images"></ion-icon>
        Images
      </button>

      <button ion-button icon-only *ngIf="!isMapping" (click)="isMapping=true">
        <ion-icon name="map"></ion-icon>
        Map
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar no-border-top *ngIf="!isMapping">
    <ion-segment [(ngModel)]="searchCategory" (ionChange)="filterPhotoInfoList()">
      <ion-segment-button value="すべて">
        すべて
      </ion-segment-button>
      <ion-segment-button value="風景">
        風景
      </ion-segment-button>
      <ion-segment-button value="食事">
        食事
      </ion-segment-button>
      <ion-segment-button value="宿泊">
        宿泊
      </ion-segment-button>
      <ion-segment-button value="建物">
        建物
      </ion-segment-button>
      <ion-segment-button value="行事">
        行事
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-grid [hidden]="isMapping">
    <ion-row *ngFor="let photos of photoInfoList">
      <ion-col *ngFor="let photo of photos">
        <div (click)="toPhotoDetailPage(photo)">
          <img src={{photo.url}}>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [hidden]="!isMapping" id="my-map"></div>
</ion-content>