<ion-header>

    <ion-navbar>
      <ion-title>ユーザ情報編集</ion-title>
  
      <ion-buttons right>
        <button ion-button (click)="editUserInfo()">
          登録
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <!-- <button ion-button (click)="cropImage()">
      アイコン画像の選択
    </button>
    <img src="{{iconImageURL}}"> -->
  
    <ion-list>
  
      <ion-item>
        <ion-label floating>ユーザ名</ion-label>
        <ion-input type="string" [(ngModel)]="userInfo.name"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label floating>コメント</ion-label>
        <ion-textarea type="string" [(ngModel)]="userInfo.comment"></ion-textarea>
      </ion-item>
    </ion-list>
  
  </ion-content>
  