page-photo-detail {

    // photo-info-contentsの高さ
    $pic_h: 20%;
    // photo-info-contentsのtopの大きさ
    $pic_top: 10%;
    // photo-frameの太さ
    $pf_w: 2.5%;
    // photo-frameの高さ
    $pf_h: 100% - $pic_h - $pf_w;  


    // 画像詳細（画像部門）のボス
    .photo-info{
        position: relative;
        
        // 画像詳細情報
        .photo-info-contents{            
            // 画像詳細タイトル
            .photo-title{
                position: absolute;
                width: 100%;
                top: 70%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-width: 100vw;
                text-align: center;
                font-size: 1.5em;
            }
        }

        .img-container{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    // 画像のコメントのボス
    .comment{
        display: flex;
        align-items: flex-start;

        // 各画像のユーザー情報
        .myinfo-container{
            // ユーザーアイコン
            width: 40vw;
            img.user-icon{
                padding: 10px;
                border-radius: 50%;
                height: 12vh;
                width: auto;
            }
            // ユーザーネーム
            p{
                text-align: center;
            }
        }

        // 画像のコメント（吹き出し）
        .balloon1-left {
            position: relative;
            padding: 10px 15px;
            min-width: 100px;
            max-width: 100%;
            color: #555;
            font-size: 1.0em;
            background-color: #dcdddd;
            border-radius: 10px;

            p {
                margin: 0;
                padding: 0;
            }
        }

        .balloon1-left:before{
            content: "";
            position: absolute;
            top: 50%;
            left: -30px;
            margin-top: -15px;
            border: 15px solid transparent;
            border-right: 15px solid #dcdddd;
        }
        
    }
}
