
<ion-header>

  <ion-navbar>
    <ion-title>{{item.place}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentToast()">
        <ion-icon name="star" *ngIf="isPhotoSaved"></ion-icon>
        <ion-icon name="star-outline" *ngIf="!isPhotoSaved"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- 画像詳細（画像部門）のボス -->
  <div class="photo-info">

      <!-- 画像 -->
    <div class="img-container">
      <img src="{{item.url}}" class="img-container">
    </div>

  </div>

  <!-- 画像のコメントのボス -->
  <div class="comment">
    <!-- 各画像のユーザー情報 -->
    <div class="myinfo-container">
      <!-- ユーザーアイコン -->
      <img class="user-icon" src={{item.userIcon}}>
      <!-- ユーザーネーム -->
      <div>{{item.userName}}</div>
    </div>

    <!-- 画像のコメント（吹き出し） -->
    <div class="balloon1-left">
      <p>{{item.comment}}</p>
    </div>
  </div>


</ion-content>
